
.hero{
    padding-top: 130px;
    padding-bottom: 40px;
}
.heroo{
    padding-top: 100px;
}
.heros{
    padding-bottom: 100px;
}
.hero1{
    padding-top: 70px;
    padding-bottom: 70px;
}
.hero11{
    padding-top: 20px;
    padding-bottom: 40px;
}
.padd{
    padding-bottom: 40px;
}
.heross{
    padding-top: 70px;
}
.her{
    padding-top: 70px;
}
.ber{
    padding-bottom: 70px;
}
.img{
    width: 100%;
    height: auto;
    box-shadow: (0px 2px 8px rgba(0, 0, 0, 0.08));
}
.left{
    align-items: flex-start;
}
.pd1{
    padding-top: 12px;
    padding-bottom: 12px;
}
@media only screen and (max-width: 600px) {
    .hero1{
        padding-top: 40px;
        padding-bottom: 0px;
    }
  }
  @media only screen and (max-width: 900px) {
    .heross{
        padding-top: 0px;
    }
  }